<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pac-Man game</title>
        <style>
            canvas {
                display: block;
                margin: 1em auto;
                background-color: rgb(92, 92, 92);
            }

            .buttonBox {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        </style>
    </head>
    <canvas id="gameCanvas"></canvas>
    <div class="buttonBox">
        <button id="start">START/RESTART</button>
        <button id="pause">PAUSE</button>
        <button id="continue">CONTINUE</button>
    </div>
    <script src="main.js" type="module"></script>
    <body></body>
</html>
